#carouselExampleIndicators{
    margin: 2%;
    .carousel-inner{
        border-radius: 1cap;
    }
}

#texto{
    margin: 10%;
    h1{
        font-size: 60px;
        font-family: $font-h1;
    }
    p{
        font-size: 20px;
    }
}
