html{
    width: 100%;
        #objetivos{
            height: 1000px;
            width: 100%;
        .container-fluid{
            height: px;
        }
        #h1{
            padding: 60px;
            justify-content: center;
            display: flex;
            font-family: $font-h1;
            font-size: larger;
        }
        #text-1{
            padding-left: 200px;
            padding-right: 500px;
        }
        #text-2{
            padding-left: 500px;
            padding-right: 200px;
            text-align: end;
        }
        #text-3{
            padding-left: 200px;
            padding-right: 500px;
        }
    }
}