@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'index.scss';
@import 'contacto.scss';
@import 'objetivos.scss';





@media  screen and (max-width: 768px) {
    #carouselExampleIndicators{
        margin: 0%;
        .carousel-inner{
            border-radius: 0cap;
        }
    }
    #objetivos{
        #text-2{
        padding-left: 200px;
        padding-right: 600px;
        }
    }
}

#cards{
    margin: 1%;
    .card{
        margin-bottom: 10px;
        
    }
    .card-body{
        h5{
            font-size: 20px;
        }
        p{
            font-style: oblique;
            font-size: 13px;
        }

    }
}


.nav-link{
    border-radius: 1px;
    border-color: black;
}

@media  screen and (max-width: 500px) {
    #sect-contact{
        height: 100%;
    }
    
}
